*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-background: #B2B0E8;
    --container-background: #7A85C1;
    --game-box-background: #3B38A0;
    --game-item-color: #B2B0E8;
    --reset-btn-font-color: #ef5077;
}

body{
    background-color: var(--body-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-main{
}

.contain-game{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--container-background);
    border-radius: 25px;
    padding: 15px;
}

.box{
    width: 180px;
    height: 180px;
    background-color: var(--game-box-background);
    border-radius: 25px;

    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
}

.btn button{
    border: none;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 15px;
    padding: 10px 15px;
    color: var(--reset-btn-font-color);
    background-color: var(--game-box-background);
    cursor: pointer;
}